.tabs {
  :global {
    .ant-tabs-tab-btn {
      font-size: 1.5rem;
    }
    .ant-tabs-content{
      height:calc(100vh - 120px);
    }
    .ant-tabs-tabpane {
      height: 100%;
    }
  }
}

.divider {
  :global {
    .ant-divider-inner-text {
      padding-inline: 0;
    }
  }
}
